.icon {
  display: inline-block;
  margin-right: 6px;
  vertical-align: middle;
}
.filter-select {
  width: 97.4%;
  list-style: none;
  color: rgb(105, 105, 105);
  border: 1px solid #ccc;
  border-top: none;
  /*so things don't jump around*/
  position: absolute;
  height: 170px;
  background: #fff;
  overflow-y: auto;
  padding-left: 15px;
}
.filter-select-list {
  cursor: pointer;
}
.artist-name {
  display: inline-block;
}
.filter-select-list:hover {
  background:  #C0C0C0;
  color: #fff
}

.search {
  margin-top: 19px;
  float: right;
  margin-right: 45px;
}
.filter-select::-webkit-scrollbar-thumb {
  background-color: #646464;
  border-radius: 5px;
}
.filter-select::-webkit-scrollbar {
  width: 8px;
}

