$variable: #5e33bf;
$headercolor: rgb(29, 29, 29);

::ng-deep .ag-theme-material .ag-cell, .ag-theme-material .ag-full-width-row .ag-cell-wrapper.ag-row-group {
    line-height: 30px;
}

.ag-spinner {
    color: $variable;
    margin: 10% 0 10% 50%; 
    width: 70px; 
    height: 70px;
}

.recorder {
    height: 70px;
    width: 70px;
    border: 1px solid rgb(243, 243, 243);
    border-radius: 50px;
    position: fixed;
    left: 90%;
    bottom: 8%;
    padding: 15px 20px;
    margin: 5px 5px;
    color: white;
    background-color:$variable;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;

    .bi {
        color: white;
    }
}
.ag-grid-box {
    width: 100%; height: 500px; margin: 100px 0;
    border: 1px solid rgb(241, 241, 241);
    color: rgb(83, 83, 83);
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
}
::ng-deep .ag-body-viewport::-webkit-scrollbar-thumb {
    background-color: #646464;
    border-radius: 5px;
}
::ng-deep .ag-body-viewport::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }



.logo{
    height: 55px;
    padding-left: 22px;
}

.appName {
    padding: 35px;
    font-family: cursive;
}

.footer  {
    top: 98vh;
    width: 100%;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $headercolor;
    color: white;
    font-weight: 500;
    position: relative;
    align-items: middle;
  }



  .toolbar {
    /* position: absolute; */
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: $headercolor;
    color: white;
    font-weight: 600;
  }

::ng-deep .ag-theme-material.ag-full-width-row.ag-cell-wrapper.ag-row-group {
    padding: 5px auto;
    border: 5px solid black;
}
.ag-theme-material .ag-full-width-row .ag-cell-wrapper.ag-row-group::nth-child {
    border: 5px solid black;
}



  

