<body>
  <div class="toolbar" role="banner">
    <img fxLayoutAlign="start center" src="assets/images/clarivate-logo-header.svg" alt="logo" class="logo" width="130" height="13" />
  </div>
  <div class="container">
    <h1 class="text-center appName">Clarivate's Voice Assistant</h1>

    <ng-template [ngIf]="!ml.voiceBotReady || !ml.pronoun">
      <app-listen *ngIf="speech.speechSupported" ></app-listen>
      <!-- <app-keyboard *ngIf="!speech.speechSupported"></app-keyboard> -->
    </ng-template>

    <div class="grid">
      <ag-grid-angular *ngIf="loader === false && rowData.length"
        class="ag-theme-material ag-grid-box"
        [rowData]="rowData" 
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [overlayNoRowsTemplate]="'No data found'"
        [animateRows]="true">
      </ag-grid-angular>
      <div class="spinner-border ag-spinner" role="status" *ngIf="loader">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    

    <button  *ngIf="rowData.length > 0 && loader === false" class="button" style= "margin-left: 45%; " 
      (click)="export()">Export</button>
    <!-- <app-voiceBot *ngIf="ml.voiceBotReady && ml.pronoun"></app-voiceBot> -->
  </div>

  <div>
    <button class="recorder" (click)="toggleClick($event)">
      <i class="bi bi-mic-fill" *ngIf="speech.listening" ></i>
      <i class="bi bi-mic-mute-fill"  *ngIf="!speech.listening" ></i>
    </button>
  </div>

  <div class="footer">
    <span class="copyright">&copy;2021 Clarivate Analytics. All rights reserved.</span>
  </div>
</body>